apiVersion: v1
kind: Secret
metadata:
  labels:
    app: platform-registry-api-new
  name: mongodb-creds
type: Opaque
stringData:
  MONGODB_ADMIN_PASSWORD: ${MONGODB_ADMIN_PASSWORD}
  MONGODB_ADMIN_USERNAME: ${MONGODB_ADMIN_USERNAME}
  MONGODB_PASSWORD: ${MONGODB_PASSWORD}
  MONGODB_USER: ${MONGODB_USER}
  MONGODB_KEYFILE_VALUE: ${MONGODB_KEYFILE_VALUE}
  MONGODB_DATABASE: ${MONGODB_DATABASE}
  MONGODB_REPLICA_NAME: ${MONGODB_REPLICA_NAME}
parameters:
  - displayName: mongodb admin pw
    name: MONGODB_ADMIN_PASSWORD
    required: true
  - displayName: mongodb admin pw
    name: MONGODB_ADMIN_USERNAME
    required: true
  - displayName: mongodb admin pw
    name: MONGODB_PASSWORD
    required: true
  - displayName: mongodb admin pw
    name: MONGODB_USER
    required: true
  - displayName: mongodb admin pw
    name: MONGODB_KEYFILE_VALUE
    required: true
  - displayName: mongodb admin pw
    name: MONGODB_DATABASE
    required: true
  - displayName: mongodb admin pw
    name: MONGODB_REPLICA_NAME
    required: true